<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - cardKing</title>
    <link rel="stylesheet" href="../style/home.css" />
    </head>
    <body>
    <header class="headerHome">
        <a href="../index.html">Login/Cadastro</a>
        <img src="../image/cardking.png" alt="logo do site" class="logo" />
    </header>
    <h1 class="tituloHome">Escolha aqui o seu card</h1>
    <section class="cards-section">
        <div class="cards-container">
            <div class="cards-row">
                <div class="card">
                    <img src="../image/imagem1.jpg" alt="carta do mew" />
                    <p>Mew</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 100</p>
                    <button>Comprar</button>
                </div>
                <div class="card">
                    <img src="../image/imagem2.jpg" alt="carta do gengar" />
                    <p>Gengar</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 200</p>
                    <button>Comprar</button>
                </div>
                <div class="card">
                    <img src="../image/imagem3.jpg" alt="carta do Luffy" />
                    <p>Luffy</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 150</p>
                    <button>Comprar</button>
                </div>
            </div>
            <div class="cards-row">
                <div class="card">
                    <img src="../image/imagem4.jpg" alt="Carta do dragão branco de olhos azúis"/>
                    <p>Dragão Branco</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 80</p>
                    <button>Comprar</button>
                </div>
                <div class="card">
                    <img src="../image/imagem5.jpg" alt="Carta do Agumon" />
                    <p>Agumon</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 100</p>
                    <button>Comprar</button>
                </div>
                <div class="card">
                    <img src="../image/imagem6.jpg" alt="carta de mágic" />
                    <p>1996 World champions</p>
                    <p>Quantidade disponivel: 10un</p>
                    <p class="valor">R$ 90</p>
                    <button>Comprar</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p class="footerHome">Todos os direitos Reservados @cardking</p>
    </footer>
    </body>
</html>